html {
    background-color: lavender;
    font-family: 'Comfortaa', cursive;
}

.container {
    display: flex;
    background-color: lavender;
    justify-content: center;
    font-size: 25px;
}

.container>div {
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 1000px;
    text-align: center;
}

.flex-container {
    display: flex;
}

.img2 {
    background-color: #f2f2f2;
}

.img1 {
    border-radius: 10px;
    border-color: black;
    float: right;
}

.tekst1 {
    font-size: 25px;
    margin-right: 900px;
}

h1 {
    margin: 0px;
}

.tekst2 {
    font-size: 25px;
    margin-right: 900px;
}

.wykonawcza {
    font-size: 25px;
}

.img4 {
    float: right;
    border-radius: 10px;
}

li {
    font-size: 25px;
}

table,
td,
th {
    border: 1px rgb(51, 49, 49) solid;
    margin-left: 90px;
    font-size: 25px;
    border-radius: 8px;
    text-align: left;
    width: 600px;
    font-size: 20px;
    margin: auto;
}